* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(./img/mapa.jpg);
    /* IMAGEM DO FUNDO */
    background-size: cover;
    /* TAMANHO DO FUNDO */
    background-position: center;
    height: 100vh;
    /* altura */
    display: flex;
    /* mostrar / flexivel */
    align-items: center;
    justify-content: center;
}

.caixa-maior {
    background-color: #000000f2;
    width: 450px;
    /* largura  */
    border-radius: 25px;
    /* arredondar a borda */
    padding: 20px;
    /* espacamento interno */
}

.input-texto {
    width: 100%;
    height: 100px;
    border: none;
    /* borda / none = nada,nenhuma */
    outline: none;
    /* borda quando eu clico nele*/
    background-color: #ffffff1a;
    border-radius: 15px;
    color: #ffffff;
    /* cor do texto*/
    font-size: 16px;
    /* tamanho da fonte */
    padding: 15px;
}

.idioma {
    width: 100%;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    background-color: #ffffff1a;
    color: #ffffff;
}

button {
    border: none;
    padding: 10px;
    background-color: #ffffff1a;
    border-radius: 50%;
    cursor: pointer;
    /* coloca a maosinha */
}

.controle {
    display: flex;
    align-items: center;
    gap: 10px;
    /* espacamento */
    margin-top: 20px;
    margin-bottom: 20px;
}

.resultado {
    padding: 15px;
    background-color: #ffffff1a;
    border-radius: 15px;
}

.titulo-traducao {
    color: #ffffff99;
    font-size: 14px;
    margin-bottom: 10px;
}

.traducao {
    color: #ffffff;
    font-size: 18px;
}